body {
  font-size: 16px
  font-family: Arial sans-serif;
}

p {
  margin: 30px 30px;
  font-size: 1.25rem;
}

p > a {
  font-size: 1.25rem;
}

h1 {
color: 000;
text-align: center;
padding: 30px;
}

h2, h3 {
  text-align: center;
}



a {
  font-size: 1.5rem;
}


.footer {
  background-color: #ddd;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

.indicates-required {
  margin-bottom: 30px;
}

#mc_embed_signup {
margin: 50px auto;
}

span {
  padding: 10px;
}

.home-quote {
  margin-top: 20px;
  text-align: center;

}

.cta {
  background-color: #aefffa;
}

.cta > h3 {
  margin-right: 500px;
}

button > a {
  color: #fff;
}

#accordion {
  margin-bottom: 30px;
}

.paypal {
  background-image: url ("images/paypal-checkout-button.png");
}



.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #000;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #000;
}

.navbar-brand {
  max-height: 100%;
  max-width: 100%;
}

.navbar-toggler {
  padding: 0 35px;
  background-color: #007bff;
  color: white;
  margin: 0 auto;
}


}

.inline {
  font-size: 1rem;
}

.btn {
  white-space: normal;
}

.align-left {
  text-align: left;
}
